*.swp
.netrwhist
vim/plugged

emacs.d/*
!emacs.d/init.el
!emacs.d/Cask
!emacs.d/lisp

config/*
!config/fish
config/fish/fish_history
config/fish/fishd.*

# neovim symlinked files
vim/init.vim
vim/vim
vim/spell
