[user]
	name = David Mohundro
	email = drmohundro@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
	st = status
	co = checkout
	ci = commit
[diff "ruby"]
	funcname = ^ *\\(\\(class\\|module\\|def\\) .*\\)
[diff "csharp"]
	funcname = ^ *\\(\\(namespace\\|public\\|protected\\|private\\|internal\\) .*\\)
[diff "vb"]
	funcname = ^ *\\(\\(Namespace\\|Public\\|Private\\|Protected\\|Friend\\) .*\\)
